* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

img {
  width: 100%;
  height: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

p {
  margin-bottom: 0; }

.header {
  width: 100%;
  height: 200px;
  padding: 0 30px 0 30px;
  position: fixed;
  z-index: 1000;
  top: 0;
  background: white; }
  .header__nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    .header__nav__logo {
      height: 100%;
      width: 25%; }
      .header__nav__logo img {
        height: 100%;
        width: 100%; }
    .header__nav__ul {
      width: 55%;
      padding-top: 90px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; }
      .header__nav__ul__li {
        padding: 10px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
        .header__nav__ul__li a {
          font-weight: 600;
          font-size: 1.2rem;
          color: #5b5b5b; }
          .header__nav__ul__li a:hover {
            color: #ebc20c;
            transition: all .3s ease; }

.navbar {
  display: none; }

.bg-body-tertiary {
  background-color: white !important; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.carousel {
  padding-top: 125px; }

.carousel-caption {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 150px;
  background: rgba(0, 0, 0, 0.308);
  background-size: cover;
  font-weight: bolder;
  font-size: 1.5rem;
  letter-spacing: 1px;
  animation: fadein 5s;
  transition: all .3s ease-in; }

.servicios {
  height: 100%;
  width: 100%;
  padding-bottom: 50px; }
  .servicios__title {
    width: 100%;
    height: 100% img;
      height-width: 100%;
      height-height: 50%; }
  .servicios__inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 150px 30px 0; }
    .servicios__inner__each {
      width: 45%;
      height: 100%;
      padding-left: 30px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-end; }
      .servicios__inner__each__flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
        padding-bottom: 20px;
        width: 80%; }
        .servicios__inner__each__flex span {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          border: 2px solid #ebc20c;
          margin-right: 10px; }
        .servicios__inner__each__flex p {
          font-size: 1rem;
          color: #2d2d2d;
          font-weight: 400;
          font-family: "Montserrat", sans-serif;
          margin: 0;
          width: 80%; }
    .servicios__inner__divider {
      width: 2px;
      height: 250px;
      background: #ebc20c; }
    .servicios__inner__text {
      width: 45%;
      height: 100%;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start; }
      .servicios__inner__text p {
        padding-bottom: 20px; }

.nosotras {
  background-image: url(../titles/NOSOTRAS-COMPLETO-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 780px;
  padding-right: 5px; }
  .nosotras__title {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1200px; }
    .nosotras__title h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 14rem;
      color: rgba(255, 255, 255, 0.295);
      font-weight: bolder; }
  .nosotras__box {
    height: 78%;
    width: 400px;
    background: rgba(255, 255, 255, 0.763);
    float: right;
    padding: 20px;
    margin-top: 158px; }
    .nosotras__box__text {
      text-align: center;
      border: 2px #535353 solid;
      border-radius: 20px;
      height: 100%; }
      .nosotras__box__text__title {
        padding-top: 20px;
        font-size: 1.8rem;
        font-weight: bolder;
        font-family: "Montserrat", sans-serif; }
      .nosotras__box__text__inner {
        font-size: 1.2rem;
        padding: 30px 20px 0 20px;
        font-weight: light; }

.politicas {
  width: 100%;
  height: 100%; }
  .politicas__title {
    width: 100%;
    height: 100% img;
      height-width: 100%;
      height-height: 50%; }
  .politicas__box {
    width: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline; }
    .politicas__box__each {
      width: 45%;
      padding: 40px;
      text-align: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      .politicas__box__each__div {
        width: 100%;
        height: 140px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center; }
        .politicas__box__each__div__span {
          width: 35%;
          height: 50px;
          border-bottom: 5px solid #ebc20c; }
        .politicas__box__each__div__num {
          width: 40%;
          font-size: 7rem;
          color: rgba(187, 187, 187, 0.55);
          font-weight: bolder;
          font-family: "Montserrat", sans-serif;
          text-align: center; }
      .politicas__box__each__p {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-left: 30px; }
        .politicas__box__each__p__p1 {
          width: 100%;
          text-align: left;
          font-size: 3rem;
          font-weight: bolder;
          font-family: "Montserrat", sans-serif;
          letter-spacing: 2px; }
        .politicas__box__each__p__p2 {
          width: 100%;
          text-align: left;
          font-size: 1.2rem; }

.proyectos {
  width: 100%;
  height: 100%; }
  .proyectos__title {
    width: 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2800px; }
    .proyectos__title h2 {
      font-size: 13rem;
      font-weight: bolder;
      color: rgba(255, 255, 255, 0.295); }
  .proyectos__gallery {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 150px); }
    .proyectos__gallery__1 {
      grid-row: 1/5;
      grid-column: 1/3;
      object-fit: cover; }
      .proyectos__gallery__1:hover {
        opacity: 0.5;
        transition: all .3s; }
    .proyectos__gallery__2 {
      grid-row: 1/3;
      grid-column: 3/5;
      object-fit: cover; }
      .proyectos__gallery__2:hover {
        opacity: 0.5;
        transition: all .3s; }
    .proyectos__gallery__3 {
      grid-row: 3/7;
      grid-column: 3/4;
      object-fit: cover; }
      .proyectos__gallery__3:hover {
        opacity: 0.5;
        transition: all .3s; }
    .proyectos__gallery__4 {
      grid-row: 3/7;
      grid-column: 4/5;
      object-fit: cover; }
      .proyectos__gallery__4:hover {
        opacity: 0.5;
        transition: all .3s; }
    .proyectos__gallery__5 {
      grid-row: 5/9;
      grid-column: 1/3;
      object-fit: cover; }
      .proyectos__gallery__5:hover {
        opacity: 0.5;
        transition: all .3s; }
    .proyectos__gallery__6 {
      grid-row: 7/9;
      grid-column: 3/5;
      object-fit: cover; }
      .proyectos__gallery__6:hover {
        opacity: 0.5;
        transition: all .3s; }

.lightbox {
  width: 100%;
  height: 100vh;
  padding-bottom: 50px;
  background: rgba(0, 0, 0, 0.315);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000; }
  .lightbox:target {
    transform: scale(1); }
  .lightbox__container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    .lightbox__container__close {
      width: 100%;
      text-align: right; }
    .lightbox__container__img {
      width: 60%;
      height: 90%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      .lightbox__container__img__main {
        width: 100%;
        height: 90%;
        border: 2px white solid; }
      .lightbox__container__img__gallery {
        width: 100%;
        height: 10%;
        border: 2px white solid;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: normal;
        align-items: normal; }
        .lightbox__container__img__gallery img {
          width: 10%;
          height: 100%;
          border: 1px white solid;
          cursor: pointer;
          object-fit: cover; }

.bi {
  color: black;
  font-size: 3rem;
  cursor: pointer; }
  .bi:hover {
    color: red;
    transition: all .3s ease; }

.bi-x-square-fill {
  font-size: 1.5rem;
  cursor: pointer; }

.clientes {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #ebc20c; }
  .clientes__title {
    width: 100%;
    height: 100% img;
      height-width: 100%;
      height-height: 50%; }
  .clientes__subtitle {
    width: 100%; }
    .clientes__subtitle h3 {
      color: white;
      font-family: "Montserrat", sans-serif;
      font-size: 3rem;
      letter-spacing: 30px; }
  .clientes__container {
    width: 100%;
    height: 100%;
    padding: 30px 50px 100px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start; }
    .clientes__container__1 {
      height: 100%;
      width: 30%;
      text-align: left;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      .clientes__container__1__testimonio {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        width: 100%;
        height: 100%; }
        .clientes__container__1__testimonio__title {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          padding-bottom: 20px; }
          .clientes__container__1__testimonio__title h4 {
            color: white;
            font-family: "Montserrat", sans-serif;
            letter-spacing: 3px;
            width: 100%; }
        .clientes__container__1__testimonio__parrafo {
          padding-bottom: 20px;
          font-size: small;
          width: 100%; }
        .clientes__container__1__testimonio__white {
          color: white;
          width: 100%;
          font-size: small; }
    .clientes__container__2 {
      height: 100%;
      width: 30%;
      text-align: left;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      .clientes__container__2__testimonio {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        width: 100%;
        height: 100%;
        padding-bottom: 30px; }
        .clientes__container__2__testimonio__title {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          padding-bottom: 20px; }
          .clientes__container__2__testimonio__title h4 {
            color: white;
            font-family: "Montserrat", sans-serif;
            letter-spacing: 3px;
            width: 100%; }
        .clientes__container__2__testimonio__parrafo {
          padding-bottom: 20px;
          font-size: small;
          width: 100%; }
        .clientes__container__2__testimonio__white {
          color: white;
          width: 100%;
          font-size: small; }

.span1 {
  width: 50%;
  height: 20px;
  background-color: transparent;
  border-top-right-radius: 15px;
  border-top: 3px white solid; }

.span2 {
  width: 50%;
  height: 20px;
  background-color: transparent;
  border-top-left-radius: 15px;
  border-top: 3px white solid; }

.contacto {
  width: 100%;
  height: 100%;
  padding-bottom: 100px; }
  .contacto__title {
    width: 100%;
    height: 100% img;
      height-width: 100%;
      height-height: 50%; }
  .contacto__cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 50px; }
    .contacto__cards__container {
      width: 30%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      .contacto__cards__container__align {
        text-align: left;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; }
        .contacto__cards__container__align p {
          width: 100%;
          font-size: 1rem;
          font-weight: bold;
          color: #5b5b5b;
          padding-bottom: 10px; }
        .contacto__cards__container__align a {
          width: 100%;
          font-size: 1.5rem;
          font-weight: 400;
          color: #5b5b5b; }
          .contacto__cards__container__align a:hover {
            opacity: 0.5;
            transition: all .3s ease; }
    .contacto__cards__middle {
      width: 30%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      border-left: 2px #ebc20c solid;
      border-right: 2px #ebc20c solid; }
      .contacto__cards__middle__align {
        text-align: left;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 30px 0 30px; }
        .contacto__cards__middle__align p {
          width: 100%;
          font-size: 1rem;
          font-weight: bold;
          color: #5b5b5b;
          padding-bottom: 10px; }
        .contacto__cards__middle__align a {
          width: 100%;
          font-size: 1.5rem;
          font-weight: 400;
          color: #5b5b5b; }
          .contacto__cards__middle__align a:hover {
            opacity: 0.5;
            transition: all .3s ease; }

.footer {
  height: 80px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  color: white;
  background-color: #5b5b5b; }

@media screen and (max-width: 2150px) {
  .proyectos__title {
    top: 3400px; }
    .proyectos__title h2 {
      font-size: 12rem; } }

@media screen and (max-width: 1838px) {
  .proyectos__title {
    top: 3200px; } }

@media screen and (max-width: 1650px) {
  .proyectos__title {
    top: 3000px; } }

@media screen and (max-width: 1078px) {
  .header {
    height: 200px; }
  .header__nav__logo {
    height: 70%; }
  .header__nav__ul {
    width: 60%;
    padding-top: 70px; }
  .servicios__inner {
    padding-top: 150px; }
  .politicas__box__each__p {
    padding-left: 15px; }
  .proyectos__title {
    top: 3050px; }
    .proyectos__title h2 {
      font-size: 10rem; }
  .proyectos__gallery {
    grid-template-rows: repeat(8, 150px); }
  .clientes__title {
    top: 4290px; }
    .clientes__title h2 {
      font-size: 5.5rem; }
  .contacto__title {
    top: 5390px; }
    .contacto__title h2 {
      font-size: 11.5rem; } }

@media screen and (max-width: 1024px) {
  .header__nav__logo {
    width: 30%; }
  .header__nav__ul {
    width: 70%;
    justify-content: space-around; }
  .carousel {
    padding-top: 110px; }
  .servicios__title {
    top: 490px; }
    .servicios__title h1 {
      font-size: 10rem; }
  .nosotras {
    background-position: center;
    height: 800px; }
    .nosotras__title {
      top: 1190px; }
      .nosotras__title h2 {
        font-size: 10rem; }
    .nosotras__box {
      margin-top: 150px; }
  .politicas__title {
    top: 2020px; }
    .politicas__title h2 {
      font-size: 5rem; }
  .politicas__box__each {
    padding: 0; }
  .proyectos__title {
    top: 2800px; }
    .proyectos__title h2 {
      font-size: 9rem; }
  .clientes__title {
    top: 3990px; }
    .clientes__title h2 {
      font-size: 5rem; }
  .contacto__title {
    top: 5110px; }
    .contacto__title h2 {
      font-size: 10rem; } }

@media screen and (max-width: 963px) {
  .servicios {
    padding-top: 0; }
  .servicios__title {
    position: static; }
  .servicios__inner {
    padding-top: 30px; }
  .nosotras__title {
    position: static; }
  .nosotras__box {
    margin-top: 0;
    height: 73%; }
  .politicas__title {
    position: static; }
  .politicas__box {
    padding: 30px 0 50px 0; }
  .politicas__box__each {
    width: 40%; }
  .politicas__box__each__p {
    padding-left: 0; }
  .clientes {
    padding-top: 0; }
  .clientes__title {
    position: static; }
  .contacto {
    padding-top: 0; }
  .contacto__title {
    position: static; } }

@media screen and (max-width: 925px) {
  .servicios__title h1 {
    font-size: 8rem; }
  .nosotras__title h2 {
    font-size: 8rem; }
  .contacto__title h2 {
    font-size: 8rem; } }

@media screen and (max-width: 911px) {
  .header {
    padding: 0;
    height: 100px; }
    .header__nav {
      justify-content: space-around; }
      .header__nav__logo {
        width: 25%;
        height: 100%;
        padding: 0; }
      .header__nav__ul {
        display: none; }
  .navbar {
    display: block;
    padding: 5px 0; }
  .carousel-caption {
    padding-top: 80px; }
  .servicios__inner__each__flex span {
    width: 20px;
    height: 20px; }
  .servicios__inner__each__flex p {
    font-size: 0.8rem; }
  .politicas__title h2 {
    font-size: 4rem; }
  .proyectos__title {
    top: 2600px; }
    .proyectos__title h2 {
      font-size: 7rem; }
  .clientes__title h2 {
    font-size: 3.5rem; }
  .clientes__subtitle h3 {
    font-size: 2rem; } }

@media screen and (max-width: 857px) {
  .header {
    height: 100px; }
  .header__nav__logo {
    width: 25%; }
  .carousel-inner {
    height: 400px; }
  .carousel-item {
    height: 100%; }
  .politicas__box__each__p__p1 {
    font-size: 2rem; }
  .proyectos__gallery {
    grid-template-rows: repeat(8, 100px); } }

@media screen and (max-width: 785px) {
  .header {
    height: 80px; }
  .header__nav__logo {
    width: 20%; }
  .servicios__inner {
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto; }
    .servicios__inner__each {
      width: 100%;
      justify-content: center;
      align-items: center; }
      .servicios__inner__each__flex {
        width: 90%;
        margin: 0 auto;
        justify-content: center;
        align-items: center; }
        .servicios__inner__each__flex p {
          width: 70%; }
    .servicios__inner__divider {
      display: none; }
    .servicios__inner__text {
      display: none; }
  .proyectos__title {
    top: 2680px; }
  .politicas__box__each__div__num {
    font-size: 5rem; }
  .nosotras__title h2 {
    font-size: 6rem; }
  .nosotras__box {
    margin: 0;
    width: 50%;
    height: 60%;
    padding: 5px; }
    .nosotras__box__text__title p {
      font-size: medium; }
    .nosotras__box__text__inner {
      padding: 20px 5px; }
      .nosotras__box__text__inner p {
        font-size: small; }
  .contacto__title h2 {
    font-size: 6rem; } }

@media screen and (max-width: 711px) {
  .servicios__title h1 {
    font-size: 6rem; }
  .servicios__inner__text {
    font-size: 0.8rem; }
  .nosotras__box {
    width: 30%; }
  .politicas__title h2 {
    font-size: 3rem; }
  .politicas__box__each__p__p1 {
    font-size: 1rem; }
  .politicas__box__each__p__p2 {
    font-size: 1rem; }
    .politicas__box__each__p__p2 br {
      display: none; }
  .proyectos__title {
    top: 2580px; }
    .proyectos__title h2 {
      font-size: 5rem; }
  .lightbox__container {
    height: 50%; }
  .lightbox__container__img {
    width: 85%; }
  .bi {
    font-size: 1rem; }
  .contacto__cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left; }
    .contacto__cards__container {
      width: 100%;
      padding: 20px 0 20px 0; }
    .contacto__cards__middle {
      width: 100%;
      padding: 20px 10px 20px 0;
      border: none; }
      .contacto__cards__middle__align {
        padding: 0; }
  .ig {
    padding-right: 35px; } }

@media screen and (max-width: 640px) {
  .nosotras__box {
    width: 35%; }
  .politicas__box__each__p__p1 {
    font-size: 1rem; }
  .politicas__box__each__p__p2 {
    font-size: 1rem; }
  .clientes__title h2 {
    font-size: 3rem; } }

@media screen and (max-width: 580px) {
  .carousel {
    padding-top: 120px; }
  .carousel-inner {
    height: 350px; }
  .carousel-caption {
    padding-top: 40px;
    font-size: 1rem; }
  .servicios {
    padding-top: 0;
    padding-bottom: 0; }
    .servicios__inner {
      padding-top: 50px; }
      .servicios__inner__each {
        padding-left: 0;
        width: 100%;
        align-items: center; }
        .servicios__inner__each__flex p {
          font-size: small; }
        .servicios__inner__each__flex span {
          width: 15px;
          height: 15px; }
      .servicios__inner__divider {
        height: 350px; }
      .servicios__inner__text p {
        font-size: small; }
  .nosotras {
    background-image: url(../nosotras/nosotras-query.webp);
    background-position: center right; }
    .nosotras__title {
      position: static; }
      .nosotras__title h2 {
        font-size: 4rem; }
  .politicas {
    padding-bottom: 80px; }
  .politicas__title {
    position: static; }
    .politicas__title h2 {
      font-size: 3.2rem; }
  .politicas__box {
    padding: 0;
    flex-direction: column; }
    .politicas__box__each {
      width: 100%; }
  .politicas__box__each__div {
    width: 50%; }
  .politicas__box__each__p {
    padding: 0 30px;
    width: 80%; }
    .politicas__box__each__p__p1 {
      letter-spacing: 0;
      font-size: 1rem; }
    .politicas__box__each__p br {
      display: none; }
  .proyectos__title {
    top: 2750px; }
    .proyectos__title h2 {
      font-size: 4rem;
      color: rgba(255, 255, 255, 0.295); }
  .proyectos__gallery {
    grid-template-rows: repeat(8, 75px); }
  .clientes {
    padding-top: 0; }
    .clientes__title {
      position: static; }
      .clientes__title h2 {
        font-size: 3rem; }
    .clientes__container {
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; }
      .clientes__container__1 {
        width: 90%;
        padding-bottom: 20px; }
      .clientes__container__2 {
        width: 90%; }
  .clientes__subtitle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .clientes__subtitle h3 {
      font-size: 1.5rem;
      letter-spacing: 10px; }
  .clientes__container__1__testimonio__title h4 {
    font-size: 1.2rem; }
  .clientes__container__2__testimonio__title h4 {
    font-size: 1.2rem; }
  .contacto {
    padding-top: 0; }
    .contacto__title {
      position: static; }
      .contacto__title h2 {
        font-size: 3rem; } }

@media screen and (max-width: 569px) {
  .nosotras__box {
    width: 40%; } }

@media screen and (max-width: 555px) {
  .proyectos__title {
    top: 2840px; } }

@media screen and (max-width: 490px) {
  .header__nav__logo {
    width: 20%; }
  .servicios__title h1 {
    font-size: 3rem; }
  .nosotras {
    background-position: center center; }
    .nosotras__title h2 {
      font-size: 3rem; }
  .politicas__title h2 {
    font-size: 2.5rem; }
  .politicas__box__each__div__num {
    font-size: 4rem; }
  .proyectos__title {
    position: absolute;
    top: 2800px; }
  .carousel {
    padding-top: 100px; }
  .nosotras__box {
    height: 70%; }
  .clientes__title h2 {
    font-size: 2.5rem; } }

@media screen and (max-width: 441px) {
  .nosotras__box {
    height: 75%; } }

@media screen and (max-width: 429px) {
  .proyectos__title {
    top: 2900px; } }

@media screen and (max-width: 411px) {
  .nosotras__box {
    height: 80%; }
  .proyectos__title h2 {
    font-size: 3rem; } }

@media screen and (max-width: 385px) {
  .header {
    height: 50px; }
  .header__nav__logo {
    width: 20%; }
  .carousel-inner {
    height: 300px; }
  .nosotras__box {
    height: 88%; }
  .proyectos__title {
    top: 2950px; } }

@media screen and (max-width: 355px) {
  .servicios {
    padding-bottom: 30px; }
  .nosotras__title h2 {
    font-size: 3rem; }
  .nosotras__box {
    height: 90%; }
  .politicas__title h2 {
    font-size: 2.5rem; }
  .politicas__box__each__p__p1 {
    font-size: 1.5rem; }
  .proyectos__title {
    position: absolute;
    top: 3000px; }
    .proyectos__title h2 {
      font-size: 3rem; }
  .proyectos__gallery {
    grid-template-rows: repeat(8, 50px); }
  .clientes__title h2 {
    font-size: 3rem; }
  .clientes__subtitle h3 {
    font-size: 1.5rem; }
  .clientes__container__1__testimonio__title h4 {
    font-size: 1.2rem; }
  .clientes__container__2__testimonio__title h4 {
    font-size: 1.2rem; }
  .contacto__title h2 {
    font-size: 3rem; } }

@media screen and (max-width: 331px) {
  .servicios__title h1 {
    font-size: 2rem; }
  .servicios__inner__each__flex span {
    margin: 0; }
  .nosotras__title h2 {
    font-size: 2rem; }
  .nosotras__box {
    height: 92%; }
  .nosotras__box__text__inner p {
    font-size: 0.7rem; }
  .politicas__title h2 {
    font-size: 2rem; }
  .proyectos__title {
    top: 3110px; }
    .proyectos__title h2 {
      font-size: 2rem; }
  .clientes__title h2 {
    font-size: 2rem; }
  .contacto__title h2 {
    font-size: 2rem; }
  .contacto__cards__container p,
  .contacto__cards__container a {
    font-size: 1rem; }
  .contacto__cards__middle p,
  .contacto__cards__middle a {
    font-size: 1rem; } }

@media screen and (max-width: 286px) {
  .servicios__inner__each {
    align-items: flex-start; }
  .nosotras__box__text__title p {
    font-size: small; }
  .politicas__box__each__p {
    width: 100%; }
  .proyectos__title {
    top: 2900px; }
  .clientes__subtitle h3 {
    letter-spacing: 0; } }

@media screen and (max-width: 272px) {
  .carousel-caption {
    padding-top: 20px; }
  .nosotras {
    padding-right: 0; }
  .proyectos__title {
    position: static; }
    .proyectos__title h2 {
      color: rgba(187, 187, 187, 0.55); } }
