@import "./utilities/variables";
@import "./utilities/color";
@import "./utilities/mixins";
@import "./globals/resets";

.header {
    width: 100%;
    height: 200px;
    padding: 0 30px 0 30px;
    position: fixed;
    z-index: 1000;
    top: 0;
    background: white;


    &__nav {
        width: 100%;
        height: 100%;
        @include flex (flex, row, wrap, space-around, center);

        &__logo {
            height: 100%;
            width: 25%;

            img {
                height: 100%;
                width: 100%;
            }

        }

        &__ul {
            width: 55%;
            padding-top: 90px;
            @include flex (flex, row, wrap, space-between, center);

            &__li {
                padding: 10px;
                text-align: center;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                a {
                    font-weight: 600;
                    font-size: 1.2rem;
                    color: $cl__menu;

                    &:hover {
                        color: $cl_quark;
                        transition: all .3s ease;
                    }
                }
            }
        }
    }
}

.navbar {
    display: none;

}

.bg-body-tertiary {
    background-color: white !important;

}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.carousel {
    padding-top: 125px;
}

.carousel-caption {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 150px;
    background: rgba(0, 0, 0, 0.308);
    background-size: cover;
    font-weight: bolder;
    font-size: 1.5rem;
    letter-spacing: 1px;
    animation: fadein 5s;
    transition: all .3s ease-in;
}


.servicios {
    height: 100%;
    width: 100%;
    padding-bottom: 50px;

    &__title {
        width: 100%;

        height: 100% img {
            width: 100%;
            height: 50%;
        }
    }

    &__inner {
        width: 100%;
        @include flex(flex, row, nowrap, center, flex-start);
        padding: 150px 30px 0;

        &__each {
            width: 45%;
            height: 100%;
            padding-left: 30px;
            @include flex(flex, column, wrap, center, center);

            &__flex {
                @include flex(flex, row, wrap, flex-end, flex-start);
                padding-bottom: 20px;
                width: 100%;

                span {
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    border: 2px solid $cl_quark;
                    margin-right: 10px;
                }

                p {
                    font-size: 1rem;
                    color: rgb(45, 45, 45);
                    font-weight: 400;
                    font-family: $title_font;
                    margin: 0;
                    width: 80%;
                }
            }
        }

        &__divider {
            width: 2px;
            height: 250px;
            background: $cl_quark;
        }

        &__text {
            width: 45%;
            height: 100%;
            font-size: 1rem;
            @include flex(flex, column, wrap, flex-start, flex-start);

            p {
                padding-bottom: 20px;

            }

        }
    }
}

.nosotras {
    background-image: url(../nosotras/nosotras-query.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    height: 780px;
    padding-right: 5px;
    padding-top: 560px;
    padding-bottom: 20px;

    &__title {
        width: 100%;
        text-align: center;
        @include flex (flex, column, wrap, center, center);
        position: absolute;
        top: 1980px;

        h1 {
            font-family: $title_font;
            font-size: $title_size;
            color: $cl__title2;
            font-weight: bolder;
        }
    }

    &__box {
        height: 200px;
        width: 60%;
        background: rgba(255, 255, 255, 0.58);
        margin: 0 auto;
        border-radius: 20px;
        padding: 20px 0;

        &__text {
            text-align: center;
            width: 80%;
            margin: 0 auto;

            &__title {
                font-size: 1.8rem;
                font-family: $title_font;
                width: 100%;
            }

            &__inner {
                font-size: 1.2rem;
                padding: 20px 0;
                font-weight: light;
            }
        }
    }
}

.politicas {
    width: 100%;
    height: 100%;
    @include flex(flex, row, wrap, center, flex-start);

    &__title {
        width: 100%;

        height: 100% img {
            width: 100%;
            height: 50%;
        }
    }

    &__box {
        width: 50%;
        height: 100%;
        @include flex(flex, row, wrap, center, flex-start);

        &__each {
            width: 100%;
            padding: 40px;
            text-align: center;
            @include flex(flex, row, wrap, center, center);

            &__div {
                width: 100%;
                height: 140px;
                @include flex(flex, row, wrap, space-around, center);

                &__span {
                    width: 35%;
                    height: 50px;
                    border-bottom: 5px solid $cl_quark;
                }

                &__num {
                    width: 40%;
                    font-size: 7rem;
                    color: $cl__title1;
                    font-weight: bolder;
                    font-family: $title_font;
                    text-align: center;
                }
            }

            &__p {
                width: 100%;
                @include flex(flex, column, wrap, center, center);
                padding-left: 30px;

                &__p1 {
                    width: 100%;
                    text-align: left;
                    font-size: 3rem;
                    font-weight: bolder;
                    font-family: $title_font;
                    letter-spacing: 2px;
                }

                &__p2 {
                    width: 100%;
                    text-align: left;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

.proyectos {
    width: 100%;
    height: 100%;
    padding-top: 150px;

    &__title {
        width: 100%;
        text-align: center;
        font-family: $title_font;
        @include flex (flex, column, wrap, center, center);
        position: absolute;
        top: 150px;

        h2 {
            font-size: 13rem;
            font-weight: bolder;
            color: $cl__title2;
        }
    }

    &__gallery {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 150px);

        &__1 {
            grid-row: 1/5;
            grid-column: 1/3;
            object-fit: cover;

            &:hover {
                opacity: 0.5;
                transition: all .3s;
            }
        }

        &__2 {
            grid-row: 1/3;
            grid-column: 3/5;
            object-fit: cover;

            &:hover {
                opacity: 0.5;
                transition: all .3s;
            }
        }

        &__3 {
            grid-row: 3/7;
            grid-column: 3/4;
            object-fit: cover;

            &:hover {
                opacity: 0.5;
                transition: all .3s;
            }
        }

        &__4 {
            grid-row: 3/7;
            grid-column: 4/5;
            object-fit: cover;

            &:hover {
                opacity: 0.5;
                transition: all .3s;
            }
        }

        &__5 {
            grid-row: 5/9;
            grid-column: 1/3;
            object-fit: cover;

            &:hover {
                opacity: 0.5;
                transition: all .3s;
            }
        }

        &__6 {
            grid-row: 7/9;
            grid-column: 3/5;
            object-fit: cover;

            &:hover {
                opacity: 0.5;
                transition: all .3s;
            }
        }
    }
}

.lightbox {
    width: 100%;
    height: 100vh;
    padding-bottom: 50px;
    background: rgba(0, 0, 0, 0.315);
    @include flex (flex, row, wrap, center, center);
    transform: scale(0);
    transition: all .3s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;

    &:target {
        transform: scale(1);
    }

    &__container {
        width: 90%;
        margin: 0 auto;
        height: 100%;
        @include flex (flex, row, wrap, space-between, center);

        &__close {
            width: 100%;
            text-align: right;
        }

        &__img {
            width: 60%;
            height: 90%;

            @include flex (flex, column, wrap, center, center);

            &__main {
                width: 100%;
                height: 90%;
                border: 2px white solid;
            }

            &__gallery {
                width: 100%;
                height: 10%;
                border: 2px white solid;
                @include flex (flex, row, wrap, normal, normal);

                img {
                    width: 10%;
                    height: 100%;
                    border: 1px white solid;
                    cursor: pointer;
                    object-fit: cover;
                }
            }
        }
    }
}


.bi {
    color: black;
    font-size: 3rem;
    cursor: pointer;

    &:hover {
        color: red;
        transition: all .3s ease;
    }
}

.bi-x-square-fill {
    font-size: 1.5rem;
    cursor: pointer;
}


.clientes {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: $cl_quark;

    &__title {
        width: 100%;

        height: 50% 
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__subtitle {
        width: 100%;

        h3 {
            color: white;
            font-family: $title_font;
            font-size: 3rem;
            letter-spacing: 30px;
        }
    }

    &__container {
        width: 100%;
        height: 100%;
        padding: 30px 50px 100px 50px;
        @include flex(flex, row, wrap, space-around, flex-start);

        &__1 {
            height: 100%;
            width: 30%;
            text-align: left;
            @include flex(flex, row, wrap, center, center);

            &__testimonio {
                @include flex(flex, column, wrap, space-around, stretch);
                width: 100%;
                height: 100%;

                &__title {
                    width: 100%;
                    @include flex(flex, row, wrap, flex-start, center);
                    padding-bottom: 20px;

                    h4 {
                        color: white;
                        font-family: $title_font;
                        letter-spacing: 3px;
                        width: 100%;
                    }
                }

                &__parrafo {
                    padding-bottom: 20px;
                    font-size: small;
                    width: 100%;
                }

                &__white {
                    color: white;
                    width: 100%;
                    font-size: small;
                }
            }
        }

        &__2 {
            height: 100%;
            width: 30%;
            text-align: left;
            @include flex(flex, row, wrap, center, center);

            &__testimonio {
                @include flex(flex, column, wrap, space-around, stretch);
                width: 100%;
                height: 100%;
                padding-bottom: 30px;

                &__title {
                    width: 100%;
                    @include flex(flex, row, wrap, flex-start, center);
                    padding-bottom: 20px;

                    h4 {
                        color: white;
                        font-family: $title_font;
                        letter-spacing: 3px;
                        width: 100%;
                    }
                }

                &__parrafo {
                    padding-bottom: 20px;
                    font-size: small;
                    width: 100%;
                }

                &__white {
                    color: white;
                    width: 100%;
                    font-size: small;
                }
            }
        }
    }
}

.span1 {
    width: 50%;
    height: 20px;
    background-color: transparent;
    border-top-right-radius: 15px;
    border-top: 3px white solid;
}

.span2 {
    width: 50%;
    height: 20px;
    background-color: transparent;
    border-top-left-radius: 15px;
    border-top: 3px white solid;
}

.contacto {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;

    &__title {
        width: 100%;

        height: 100% img {
            width: 100%;
            height: 50%;
        }
    }

    &__cards {
        width: 100%;
        @include flex(flex, row, wrap, space-around, flex-start);
        padding-top: 50px;

        &__container {
            width: 30%;
            @include flex(flex, row, wrap, center, center);

            &__align {
                text-align: left;
                @include flex (flex, column, wrap, center, center);

                p {
                    width: 100%;
                    font-size: 1rem;
                    font-weight: bold;
                    color: $cl__menu;
                    padding-bottom: 10px;
                }

                a {
                    width: 100%;
                    font-size: 1.5rem;
                    font-weight: 400;
                    color: $cl__menu;

                    &:hover {
                        opacity: 0.5;
                        transition: all .3s ease;
                    }
                }
            }
        }

        &__middle {
            width: 30%;
            @include flex(flex, row, wrap, center, center);
            border-left: 2px $cl_quark solid;
            border-right: 2px $cl_quark solid;

            &__align {
                text-align: left;
                @include flex (flex, column, wrap, center, center);
                padding: 0 30px 0 30px;

                p {
                    width: 100%;
                    font-size: 1rem;
                    font-weight: bold;
                    color: $cl__menu;
                    padding-bottom: 10px;
                }

                a {
                    width: 100%;
                    font-size: 1.5rem;
                    font-weight: 400;
                    color: $cl__menu;

                    &:hover {
                        opacity: 0.5;
                        transition: all .3s ease;
                    }
                }
            }
        }
    }
}

.footer {
    height: 80px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    color: white;
    background-color: $cl__menu;
}




@media screen and (max-width: 2150px) {
    .header__nav__logo{
        width: 15%;
    }
    .nosotras{
        height: 1100px;
        &__box{
            margin-top: 300px;
            height: 60%;
        }
    }
    .nosotras__title{
        top: 3250px;
        h1{
            font-size: 22rem;
        }
    }
    .nosotras{
        padding-top: 500px;
    }
    .nosotras__box{
        height: 200px;
    }
    .proyectos__gallery{
        grid-template-rows: repeat(8, 300px);
    }
    .proyectos__title{
        top: 100px;
        h2{
            font-size: 20rem;
        }
    }
}
@media screen and(max-width:2046px) {
    .nosotras__title{
        top: 3250px;
        h1{
            font-size: 20rem;
        }
    }
    .proyectos__title{
        top: 100px;
        h2{
            font-size: 19rem;
        }
    }
}
@media screen and(max-width:1910px){
    .nosotras__title{
        top: 3200px;
        h1{
            font-size: 19rem;
        }
    }
    .proyectos__title{
        top: 120px;
        h2{
            font-size: 18rem;
        }
    }
}
@media screen and (max-width: 1838px) {
    .nosotras__title{

        h1{
            font-size: 18rem;
        }
    }
    .proyectos__title{
        top: 120px;
        h2{
            font-size: 17rem;
        }
    }
}
@media screen and(max-width:1740px) {
    .nosotras__title{
        top: 3200px;
        h1{
            font-size: 17rem;
        }
    }
    .proyectos__title{
        top: 120px;
        h2{
            font-size: 16rem;
        }
    }
}
@media screen and (max-width:1650px) {
    .nosotras__title{

        h1{
            font-size: 16rem;
        }
    }
    .proyectos__title{
        top: 120px;
        h2{
            font-size: 15rem;
        }
    }
}
@media screen and(max-width:1558px) {
    .header__nav__logo{
        width: 20%;
    }
    .nosotras__title{
        top: 3180px;
        h1{
            font-size: 15rem;
        }
    }
    .proyectos__title{
        top: 120px;
        h2{
            font-size: 14rem;
        }
    }
}
@media screen and(max-width:1400px) {
    .nosotras__title{
        top: 1980px;
        h1{
            font-size: 14rem;
        }
    }
    .proyectos__gallery{
        grid-template-rows: repeat(8, 150px);
    }
    .proyectos__title{
        top: 130px;
        h2{
            font-size: 13rem;
        }
    }
}
@media screen and(max-width:1300px) {
    .header__nav__logo{
        width: 30%;
    }
    .nosotras__title{
        top: 1970px;
        h1{
            font-size: 13rem;
        }
    }
    .proyectos__title{
        top: 150px;
        h2{
            font-size: 12rem;
        }
    }
}
@media screen and (max-width:1244px) {

    .nosotras__title{
        top: 1970px;
        h1{
            font-size: 12rem;
        }
    }
    .proyectos__title{
        top: 150px;
    }
}
@media screen and(max-width:1234px) {
    .proyectos__title{
        h2{
            font-size: 11rem;
        }
    }
}


@media screen and(max-width:1154px) {
    .servicios__inner__each{
        width: 50%;
    }
    .nosotras__title{
        top: 1960px;
        h1{
            font-size: 11rem;
        }
    }
    .nosotras__box{
        height: 250px;
    }
    .proyectos__title{
        top: 150px;
        h2{
            font-size: 10.5rem;
        }
    }
}


@media screen and(max-width:1082px) {
    .nosotras__title{
        top: 1960px;
        h1{
            font-size: 10rem;
        }
    }
    .proyectos__title{
        h2{
            font-size: 10.5rem;
        }
    }
}

@media screen and (max-width: 1078px) {
    .header {
        height: 200px;
    }

    .header__nav__logo {
        width: 30%;
    }

    .header__nav__ul {
        width: 60%;
        padding-top: 70px;
    }

    .servicios__inner {
        padding-top: 150px;
    }
    .nosotras__title{
        top: 1960px;
        h1{
            font-size: 11rem;
        }
    }

    .politicas__box__each__p {
        padding-left: 15px;
    }

    .proyectos__title {
        top: 150px;

        h2 {
            font-size: 10rem;
        }
    }

    .proyectos__gallery {
        grid-template-rows: repeat(8, 150px);
    }
}



@media screen and (max-width: 1024px) {
    .header__nav__logo {
        width: 30%;
    }

    .header__nav__ul {
        width: 70%;
        justify-content: space-around;
    }


    .nosotras {
        background-position: center;
        padding-top: 500px;
        &__title{
            top: 1950px;
            h1{
                font-size: 10rem;
            }
        }
        &__box{
            height: 280px;
            width: 80%;
            &__text{
                padding: 20px 0;
            }
        }
    }

    .proyectos__title {
        top: 150px;

        h1 {
            font-size: 9rem;
        }
    }
}
@media screen and (max-width:1012px) {
    .proyectos__title{
        h2{
            font-size: 9.5rem;
        }
    }
}
@media screen and (max-width: 963px) {
    .proyectos__title{
        h2{
            font-size: 9rem;
        }
    }
    .servicios {
        padding-top: 0;
    }

    .servicios__inner {
        padding-top: 30px;
    }
    .servicios__inner__each{
        width: 60%;
    }
    .nosotras__title{
        top: 1820px;
    }
    .nosotras__box {
        height: 280px;
    }

    .clientes {
        padding-top: 0;
    }

    .contacto {
        padding-top: 0;
    }
}
@media screen and(max-width:921px) {
    .proyectos__title{
        top: 160px;
    }
    .nosotras__title{
        h1{
            font-size: 9rem;
        }
    }
}
@media screen and (max-width: 911px) {
    .header {
        padding: 0;
        height: 150px;
        @include flex(flex, row, wrap, space-between, flex-start);

        &__nav {
            justify-content: flex-start;
            flex-wrap: nowrap;
            width: 60%;
            padding-top: 20px;

            &__logo {
                width: 35%;
                height: 100%;
                padding: 0;
            }

            &__ul {
                display: none;
            }
        }
    }

    .navbar {
        display: block;
        margin-top: 50px;
        width: 40%;
    }

    .servicios__inner__each__flex {

        span {
            width: 20px;
            height: 20px;
        }

        p {
            font-size: 0.8rem;
        }
    }
    .nosotras__title{
        top: 1750px;
        h1{
            font-size: 8.5rem;
        }
    }

    .proyectos__title {
        top: 120px;
        h2 {
            font-size: 8.5rem;
        }
    }

    .clientes__subtitle {

        h3 {
            font-size: 2rem;
        }
    }
}
@media screen and(max-width:875px) {
    .politicas__box{
        @include flex(flex, column, nowrap, center, center);
        width: 100%;
    }
    .politicas__box__each{
        width: 50%;

    }
    .politicas__box__each__p{
        padding: 0;
    }
    .politicas__box__each__p__p1{
        font-size: 2rem;
        text-align: center;
    }
    .politicas__box__each__p__p2{
        text-align: center;

    }
}

@media screen and(max-width: 857px) {
    .header{
        height: 130px;
    }
    .header__nav__logo{
        width: 35%;
    }

    .nosotras__title{
        top: 1320px;
        h1{
            font-size: 8rem;
        }
    }
    .proyectos{
        padding-top: 130px;
    }
    .proyectos__title{
        top: 100px;
        h2{
            font-size: 8rem;
        }
    }
    .proyectos__gallery {
        grid-template-rows: repeat(8, 100px);
    }
    br{
        display: none;
    }

}
@media screen and (max-width:807px) {
    .proyectos__title{
        h2{
            font-size: 7.5rem;
        }
    }
}
@media screen and (max-width:791px) {
    
}
@media screen and (max-width: 785px) {
    .header{
        height: 110px;
        
    }
    .header__nav__logo{
        width: 35%;
    }
    .servicios__inner {
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;

        &__each {
            width: 100%;
            justify-content: center;
            align-items: center;

            &__flex {
                width: 90%;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
                p{
                    width: 70%;
                }
            }
        }

        &__divider {
            display: none;
        }

        &__text {
            display: none;
        }
    }
    .nosotras__title{
        top: 1290px;
        h1{
            font-size: 7.5rem;
        }
    }
    .proyectos{
        padding-top: 110px;
    }
    .proyectos__title {
        top: 80px;
        h2{
            font-size: 7rem;
        }
    }

    .politicas__box__each__div__num {
        font-size: 5rem;
    }

}
@media screen and (max-width: 711px) {

    .servicios__inner__text {
        font-size: 0.8rem;
    }

    .politicas__box__each__p__p1{
        font-size: 1rem;
    }
    .politicas__box__each__p__p2 {
        font-size: 1rem;
        br {
            display: none;
        }
    }
    .nosotras__title{

        h1{
            font-size: 7rem;
        }
    }
    .proyectos__title {

        h2 {
            font-size: 6.5rem;
        }
    }

    .lightbox__container {
        height: 50%;
    }

    .lightbox__container__img {
        width: 85%;
    }

    .bi {
        font-size: 1rem;
    }

    .contacto__cards {
        @include flex (flex, column, nowrap, space-evenly, flex-start);
        text-align: left;

        &__container {
            width: 100%;
            padding: 20px 0 20px 0;
        }

        &__middle {
            width: 100%;
            padding: 20px 10px 20px 0;
            border: none;

            &__align {
                padding: 0;

            }
        }
    }

    .ig {
        padding-right: 35px;
    }
}
@media screen and (max-width:651px) {
    .proyectos__title{
        h2{
            font-size: 6rem;
        }
    }
.nosotras__title{
        h1{
            font-size: 6.5rem;
        }
    }
}
@media screen and (max-width:646px) {
    .header{
        height: 150px;
        justify-content: flex-start;

        &__nav__logo{
            height: 100%;
            width: 50%;
            margin-left: 20px;
        }
    }
    .navbar{
        width: 30%;
    }
    .proyectos__title{
        top: 120px;
    }
    .nosotras{
        padding-top: 440px;
    }
    .nosotras__title{
        top: 1300px;
    }
    .nosotras__box{
        width: 90%;
        height: 290px;
        &__text{
            width: 95%;
        }
    }
}
@media screen and (max-width: 640px) {
    .nosotras__title{
        top: 1280px;
    }
    .servicios__inner__each__flex{
        width: 100%;
    }
    .politicas__box__each__p__p1{
        font-size: 1rem;
    }
    .politicas__box__each__p__p2 {
        font-size: 1rem;
    }
}
@media screen and(max-width:607px) {
    .proyectos__title{

        h2{
            font-size: 5.5rem;
        }
    }
}
@media screen and (max-width:598px) {
    
    .servicios {
        padding-top: 0;
        padding-bottom: 0;

        &__inner {
            padding-top: 50px;

            &__each {
                padding-left: 0;
                width: 100%;
                align-items: center;

                &__flex {

                    p {
                        font-size: small;
                    }

                    span {
                        width: 15px;
                        height: 15px;
                    }
                }
            }

            &__divider {
                height: 350px;
            }

            &__text {

                p {
                    font-size: small;
                }
            }
        }
    }
    .nosotras__title{
        top: 1240px;
        h1{
            font-size: 6rem;
        }
    }
}
@media screen and (max-width:580px) {
    
    .nosotras__title{
        top: 1040px;
        h1{
            font-size: 6rem;
        }
    }
    .nosotras__box__text{
        width: 100%;
    }

    .politicas {
        padding-bottom: 80px;
    }

    .politicas__box {
        padding: 0;
        flex-direction: column;

        &__each {
            width: 100%;
        }
    }

    .politicas__box__each__div {
        width: 50%;
    }

    .politicas__box__each__p {
        padding: 0;
        width: 80%;

        &__p1 {
            letter-spacing: 0;
            font-size: 1rem;
        }

        br {
            display: none;
        }
    }

    .proyectos__title {
        top: 130px;
        h2 {
            font-size: 5rem;
            color: $cl__title2;
        }
    }

    .proyectos__gallery {
        grid-template-rows: repeat(8, 75px);
    }

    .clientes {
        padding-top: 0;
        &__container {
            padding: 20px 0;
            @include flex(flex, column, nowrap, center, center);

            &__1 {
                width: 90%;
                padding-bottom: 20px;
            }

            &__2 {
                width: 90%;
            }
        }
    }

    .clientes__subtitle {
        @include flex(flex, column, wrap, center, center);

        h3 {
            font-size: 1.5rem;
            letter-spacing: 10px;
        }
    }
    .clientes__container__1__testimonio__title{
        h4{
            font-size: 1.2rem;
        }
    }
    .clientes__container__2__testimonio__title{
        h4{
            font-size: 1.2rem;
        }
    }

    .contacto {
        padding-top: 0;
    }

}
@media screen and(max-width:564px) {
    .servicios__inner{
        width: 90%;
    }
}

@media screen and (max-width: 555px) {
    .nosotras__title{

        h1{
            font-size: 5.5rem;
        }
    }
    .nosotras__box__text{
        padding: 20px;
    }
}

@media screen and(max-width:525px){
    .nosotras__title{
        top: 1040px;
        h1{
            font-size: 5rem;
        }
    }
}
@media screen and (max-width:522px) {
    .proyectos__title{
        h2{
            font-size: 4.5rem;
        }
    }
    .nosotras__title{

        h1{
            font-size: 5rem;
        }
    }
}
@media screen and(max-width:514px) {
    .header__nav__logo{
        width: 60%;
        margin-left: 5px;
    }
}
@media screen and (max-width:511px) {
    .nosotras__box{
        height: 320px;
    }
}
@media screen and(max-width:501px) {
    .servicios__inner{
        padding: 50px 0;
        width: 80%;
    }
    .nosotras__title{
        top: 1090px;
    }
}
@media screen and (max-width:490px) {
    .servicios__inner{
        width: 90%;
        padding-left: 30px;
    }

    .politicas__box__each__div__num {
        font-size: 4rem;
    }
}
@media screen and (max-width: 472px) {
    .header__nav__logo{
        width: 70%;
    }
}

@media screen and(max-width: 468px) {
    .proyectos__title{
        top: 135px;
        h2{
            font-size: 4rem;
        }
    }
    .nosotras__title{
        top: 1100px;
        h1{
            font-size: 4.5rem;
        }
    }
    .nosotras__box {
        height: 350px;
        width: 95%;
    }

    .inactive{
        display: none;
    }
}

@media screen and(max-width:418px) {
    .nosotras__title{
        h1{
            font-size: 4rem;
        }
    }
}
@media screen and (max-width: 411px) {
    .proyectos__title {

        h2 {
            font-size: 3.5rem;
        }
    }
}
@media screen and(max-width:399px) {
    .servicios__inner{
        padding-left: 0;
    }
}

@media screen and(max-width:373px) {
    .nosotras__title{
        h1{
            font-size: 3.5rem;
        }
    }
    
}
@media screen and(max-width:365px) {
    .header__nav__logo{
        width: 80%;
        margin-left: 0;
    }
    .servicios__inner{
        width: 95%;
    }
}
@media screen and (max-width:355px) {
    .nosotras__title{
        top: 900px;
        h1{
            font-size: 3.5rem;
        }
    }

    .politicas__title {

        h2 {
            font-size: 2.5rem;
        }
    }

    .politicas__box__each__p__p1 {
        font-size: 1.5rem;
    }

    .proyectos__title {

        h2 {
            font-size: 3rem;
        }
    }

    .proyectos__gallery {
        grid-template-rows: repeat(8, 50px);
    }

    .clientes__subtitle {

        h3 {
            font-size: 1.5rem;
        }
    }

    .clientes__container__1__testimonio__title {

        h4 {
            font-size: 1.2rem;
        }
    }

    .clientes__container__2__testimonio__title {

        h4 {
            font-size: 1.2rem;
        }
    }
}
@media screen and (max-width:348px) {
    .servicios__inner{
        width: 100%;
    }
    .nosotras{
        padding-top: 0;
        &__title{
            position: static;
        }
        &__box{
            margin-top: 660px;
        }
    }
}
@media screen and (max-width: 331px) {
    .servicios__inner__each__flex span {
        margin: 0;
    }
    .noostras{
        background-position: center center;
    }
    .nosotras__title{
        h1{
            font-size: 3rem;
        }
    }

    .proyectos__title {

        h2 {
            font-size: 3rem;
        }
    }


    .contacto__cards__container {

        p,
        a {
            font-size: 1rem;
        }
    }

    .contacto__cards__middle {

        p,
        a {
            font-size: 1rem;
        }
    }
}
@media screen and(max-width:327px) {
    .nosotras__box{
        height: 250px;
        margin-top: 760px;
    }
    .nosotras__box__text__title p {
        font-size: 1rem;
    }
    .nosotras__box__text__inner p{
        font-size: 0.8rem;
    }
}
@media screen and(max-width:303px) {
    .proyectos__title{
        h2{
            font-size: 2.5rem;
        }
    }
}
@media screen and (max-width: 286px) {
    .header__nav__logo{
        width: 80%;
    }
    .servicios__inner__each {
        align-items: flex-start;
    }
    .nosotras__title{
        position: static;
        h1{
            font-size: 2.5rem;
        }
    }


    .politicas__box__each__p {
        width: 100%;
    }


    .clientes__subtitle h3 {
        letter-spacing: 0;
    }
}

@media screen and (max-width: 251px) {
    .proyectos__title{
        h2{
            font-size: 2rem;
        }
    }
}
@media screen and(max-width:230px) {
    .header__nav__logo{
        height: 80%;
    }
    .nosotras__title{
        h1{
            font-size: 2rem;
        }
    }
}
