@import "./utilities/variables";
@import "./utilities/color";
@import "./utilities/mixins";
@import "./globals/resets";

.header {
    width: 100%;
    height: 150px;
    padding: 0 50px 0 50px;
    position: fixed;
    z-index: 1000;
    top: 0;
    background: white;

    &__nav {
        width: 100%;
        height: 100%;
        @include flex (flex, row, wrap, center, center);

        &__logo {
            height: 100%;
            width: 20%;
        }

        &__ul {
            width: 65%;
            @include flex (flex, row, wrap, space-around, center);

            &__li {
                padding: 10px;
                text-align: center;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                a {
                    font-weight: 600;
                    font-size: 1.2rem;
                    color: $cl__menu;
                }
            }
        }
    }
}

.navbar {
    display: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.carousel {
    padding-top: 130px;
}

.carousel-caption {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 150px;
    background: rgba(0, 0, 0, 0.308);
    background-size: cover;
    font-weight: bolder;
    font-size: 1.5rem;
    letter-spacing: 1px;
    animation: fadein 5s;
    transition: all .3s ease-in;
}


.servicios {
    height: 100%;
    padding: 100px 80px 150px;
    @include flex (flex, column, wrap, center, center);
    width: 100%;

    &__title {
        width: 100%;
        text-align: center;
        @include flex (flex, row, wrap, center, center);

        h1 {
            font-size: 11rem;
            font-weight: bolder;
            color: $cl__title1;
            font-family: $title_font;
            text-align: center;
            padding: 0;
            letter-spacing: 5px;
        }
    }

    &__inner {
        width: 100%;
        @include flex(flex, row, wrap, center, center);

        &__each {
            width: 50%;
            height: 100%;
            border-right: 2px solid $cl_quark;
            @include flex(flex, column, wrap, flex-start, flex-start);

            &__flex {
                @include flex(flex, row, wrap, center, flex-start);
                padding-bottom: 20px;
                width: 100%;

                span {
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    border: 2px solid $cl_quark;
                    margin-right: 10px;
                    margin-top: 8px;
                }

                p {
                    font-size: 1.5rem;
                    color: rgb(45, 45, 45);
                    font-weight: 600;
                    font-family: $title_font;
                    margin: 0;
                    width: 80%;
                }
            }

        }

        &__text {
            width: 50%;
            height: 100%;
            font-size: 1.5rem;
            padding-left: 40px;

            p {
                font-weight: 600;
            }
        }
    }
}

#nosotras {
    height: 100px;
}

.nosotras {
    background-image: url(../nosotras/nosotras2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;

    &__title {
        width: 100%;
        text-align: center;
        @include flex (flex, column, wrap, center, center);

        h2 {
            font-family: $title_font;
            font-size: 11rem;
            color: $cl__title2;
            font-weight: bolder;
        }
    }

    &__box {
        height: 70%;
        width: 400px;
        background: rgba(255, 255, 255, 0.763);
        float: right;
        margin-right: 5px;
        padding: 20px;

        &__text {
            text-align: center;
            border: 2px rgb(83, 83, 83) solid;
            border-radius: 20px;
            height: 100%;

            &__title {
                padding-top: 20px;
                font-size: 1.8rem;
                font-weight: bolder;
                font-family: $title_font;
            }

            &__inner {
                font-size: 1.2rem;
                padding: 0 20px 0 20px;
                font-weight: bold;
            }
        }
    }
}

.politicas {
    width: 100%;
    height: 100%;

    &__title {
        width: 100%;
        text-align: center;
        @include flex (flex, column, wrap, center, center);

        h2 {
            font-family: $title_font;
            font-size: 7rem;
            color: rgba(105, 105, 105, 0.392);
            font-weight: bolder;
        }
    }

    &__box {
        width: 100%;
        padding: 100px;
        @include flex(flex, row, wrap, space-around, baseline);

        &__each {
            width: 35%;
            padding: 20px;
            text-align: center;
            @include flex(flex, row, wrap, center, center);

            &__div {
                width: 100%;
                height: 140px;
                @include flex(flex, row, wrap, space-between, center);

                &__span {
                    width: 40%;
                    height: 50px;
                    border-bottom: 5px solid $cl_quark;
                }

                &__num {
                    width: 40%;
                    font-size: 7rem;
                    color: rgba(105, 105, 105, 0.392);
                    font-weight: bolder;
                    font-family: $title_font;
                    text-align: center;
                }
            }

            &__p1 {
                width: 100%;
                text-align: center;
                font-size: 3rem;
                font-weight: bolder;
                font-family: $title_font;
                letter-spacing: 2px;
            }

            &__p2 {
                width: 100%;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}

.proyectos {
    width: 100%;
    height: 100%;
    padding-top: 100px;

    &__title {
        width: 100%;
        text-align: center;
        font-family: $title_font;
        @include flex (flex, column, wrap, center, center);

        h2 {
            font-size: 10rem;
            font-weight: bolder;
            color: $cl__title1;
        }
    }

    &__gallery {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 150px);

        &__1 {
            grid-row: 1/5;
            grid-column: 1/3;
            object-fit: cover;

            &:hover {
                opacity: 0.5;
                transition: all .3s;
            }
        }

        &__2 {
            grid-row: 1/3;
            grid-column: 3/5;
            object-fit: cover;

            &:hover {
                opacity: 0.5;
                transition: all .3s;
            }
        }

        &__3 {
            grid-row: 3/7;
            grid-column: 3/4;
            object-fit: cover;

            &:hover {
                opacity: 0.5;
                transition: all .3s;
            }
        }

        &__4 {
            grid-row: 3/7;
            grid-column: 4/5;
            object-fit: cover;

            &:hover {
                opacity: 0.5;
                transition: all .3s;
            }
        }

        &__5 {
            grid-row: 5/9;
            grid-column: 1/3;
            object-fit: cover;

            &:hover {
                opacity: 0.5;
                transition: all .3s;
            }
        }

        &__6 {
            grid-row: 7/9;
            grid-column: 3/5;
            object-fit: cover;

            &:hover {
                opacity: 0.5;
                transition: all .3s;
            }
        }
    }
}

.lightbox {
    width: 100%;
    height: 100vh;
    padding-bottom: 50px;
    background: rgba(0, 0, 0, 0.315);
    @include flex (flex, row, wrap, center, center);
    transform: scale(0);
    transition: all .3s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;

    &:target {
        transform: scale(1);
    }

    &__container {
        width: 90%;
        margin: 0 auto;
        height: 100%;
        @include flex (flex, row, wrap, space-between, center);

        &__close {
            width: 100%;
            text-align: right;
        }

        &__img {
            width: 60%;
            height: 90%;

            @include flex (flex, column, wrap, center, center);

            &__main {
                width: 100%;
                height: 90%;
                border: 2px white solid;
            }

            &__gallery {
                width: 100%;
                height: 10%;
                border: 2px white solid;
                @include flex (flex, row, wrap, normal, normal);

                img {
                    width: 10%;
                    height: 100%;
                    border: 1px white solid;
                    cursor: pointer;
                    object-fit: cover;
                    

                    &:hover {
                        filter: blur(1px);
                        transition: all .3s ease;
                    }
                }
            }
        }
    }
}


.bi {
    color: black;
    font-size: 3rem;
    cursor: pointer;

    &:hover {
        color: red;
        transition: all .3s ease;
    }
}

.bi-x-square-fill {
    font-size: 1.5rem;
    cursor: pointer;
}


.clientes {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: $cl_quark;

    &__title {
        width: 100%;
        @include flex (flex, column, wrap, center, center);

        h2 {
            font-family: $title_font;
            font-weight: bolder;
            color: rgba(255, 255, 255, 0.21);
            ;
            font-size: 6rem;
        }
    }

    &__subtitle {
        width: 100%;

        h3 {
            color: white;
            font-family: $title_font;
            font-size: 3rem;
            letter-spacing: 30px;
        }
    }

    &__container {
        width: 100%;
        height: 100%;
        padding: 30px 50px 100px 50px;
        @include flex(flex, row, wrap, space-around, flex-start);

        &__1 {
            height: 100%;
            width: 40%;
            text-align: left;
            @include flex(flex, row, wrap, center, center);

            &__testimonio {
                @include flex(flex, column, wrap, space-around, stretch);
                width: 100%;
                height: 100%;

                &__title {
                    width: 100%;
                    @include flex(flex, row, wrap, flex-start, center);

                    h4 {
                        color: white;
                        font-family: $title_font;
                        letter-spacing: 3px;
                        width: 100%;
                    }
                }

                &__parrafo {
                    padding-bottom: 20px;
                    font-weight: bold;
                }

                &__white {
                    color: white;
                    font-weight: bold;
                }
            }
        }

        &__2 {
            height: 100%;
            width: 40%;
            text-align: left;
            @include flex(flex, row, wrap, center, center);

            &__testimonio {
                @include flex(flex, column, wrap, space-around, stretch);
                width: 100%;
                height: 100%;
                padding-bottom: 30px;

                &__title {
                    width: 100%;
                    @include flex(flex, row, wrap, flex-start, center);

                    h4 {
                        color: white;
                        font-family: $title_font;
                        letter-spacing: 3px;
                        width: 100%;
                    }
                }

                &__parrafo {
                    padding-bottom: 20px;
                    font-weight: bold;
                }

                &__white {
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}

.span1 {
    width: 50%;
    height: 20px;
    background-color: transparent;
    border-top-right-radius: 15px;
    border-top: 3px white solid;
}

.span2 {
    width: 50%;
    height: 20px;
    background-color: transparent;
    border-top-left-radius: 15px;
    border-top: 3px white solid;
}

.contacto {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    @include flex(flex, column, wrap, center, center);

    &__title {
        width: 100%;
        text-align: center;
        @include flex (flex, column, wrap, center, center);

        h2 {
            color: $cl__title1;
            font-family: $title_font;
            font-size: 12rem;
            font-weight: bolder;
        }
    }

    &__cards {
        width: 100%;
        @include flex(flex, row, wrap, space-around, flex-start);

        &__container {
            width: 30%;
            @include flex(flex, row, wrap, center, center);

            &__align {
                text-align: left;
                @include flex (flex, column, wrap, center, center);

                p {
                    width: 100%;
                    font-size: 1rem;
                    font-weight: bold;
                    color: $cl__menu;
                    padding-bottom: 10px;
                }

                a {
                    width: 100%;
                    font-size: 2rem;
                    font-weight: bold;
                    color: $cl__menu;
                }
            }
        }

        &__middle {
            width: 30%;
            @include flex(flex, row, wrap, center, center);
            border-left: 2px $cl_quark solid;
            border-right: 2px $cl_quark solid;

            &__align {
                text-align: left;
                @include flex (flex, column, wrap, center, center);
                padding: 0 30px 0 30px;

                p {
                    width: 100%;
                    font-size: 1rem;
                    font-weight: bold;
                    color: $cl__menu;
                    padding-bottom: 10px;
                }

                a {
                    width: 100%;
                    font-size: 2rem;
                    font-weight: bold;
                    color: $cl__menu;
                }
            }
        }
    }
}

.footer {
    height: 80px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    color: white;
    background-color: $cl__menu;

    &__c {
        font-weight: bolder;
    }
}

@media screen and (max-width: 1075px) {}